body {
  padding-top: 100px;
  background: #fff;
  font-family: '"Lucida Sans Unicode", "Lucida Grande", sans-serif';
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
}

#wrapper {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px 
}

.nav-bar{
  border-radius: 0px !important;
}

#nav-space li a{
  padding: 0px;
}
